* {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
html {
	scroll-behavior: smooth;
}
/* variables */
body {
	--height-nav: 80px;
	--bacground_color_principal: rgb(38, 38, 38);
	--bacground-color-secundario: rgb(128, 128, 128);
	--color-title: rgb(78, 78, 78);
	--height-title: calc(100vh);
	--line-height-center: calc(100vh);
	--height-section: calc(100vh);
	--color-hover: rgb(250, 250, 249);
	--box-shadow: 5px 5px 5px rgb(83, 83, 82);
	--box-shadow-hover: 10px 10px 10px rgb(58, 56, 56);
	/* cards */

	--vibility-card-body: hidden;
}
/* generales */
[id] {
	scroll-margin: 80px;
}
#activate {
	color: white;
	border-bottom: 3px solid rgb(80, 125, 167);
}
/* header */
.header {
	height: 100vh;
	width: 100%;
	background: var(--bacground_color_principal);
}
.header-nav {
	display: flex;
	justify-content: space-between;
	background: var(--bacground_color_principal);
	height: var(--height-nav);

	position: fixed;
	width: 100%;
	z-index: 180;
}
.header-nav-logo {
	display: flex;
	justify-content: space-between;
}
.header-nav-logo img {
	width: 70px;
	height: 120px;
	margin-left: 20px;
}
.header-nav-logo h1 {
	color: var(--bacground-color-secundario);
	line-height: var(--height-nav);
	padding: 0px 20px;
	font-size: 20px;
}
.header-nav-logo h1:hover {
	/* color: var(--color-hover); */
	cursor: default;
}
.header-nav-navbar {
	line-height: var(--height-nav);
}
/* .header-nav-navbar ul {
} */
.header-nav-navbar ul li {
	display: inline-block;
	margin: 0px 10px;
	padding: 0px 5px;
}
.header-nav-navbar ul li:nth-last-of-type(1) {
	padding-right: 15px;
}
.header-nav-navbar ul li a {
	text-decoration: none;
	color: var(--bacground-color-secundario);
	font-weight: bold;
}
.header-nav-navbar ul li a:hover {
	color: var(--color-hover);
}
.header-title {
	position: relative;
	/* top: 80px; */
	text-align: center;
	height: var(--height-title);
	background-image: url("../img/fondo.jpg");
	background-size: cover;
	width: 100%;
}
.header-title .header-title-text {
	visibility: hidden;
}
/* nuevo estilo de los iconos de redes  */
.header-title .new-style-icons-title {
	visibility: visible;
	position: absolute;
	right: 5%;
	top: 250px;
}
.header-title .icons-tilte {
	list-style: none;
	text-align: left;
}
/* fin de los nuevos etilos */

.header-title .icons-tilte li {
	/* display: inline-block; */
	padding: 10px 5px;
	margin: 0px 5px;
}

.header-title .icons-tilte li a {
	text-decoration: none;
	/* font-size: 20px; */
	font-size: 35px;
	color: rgb(6, 84, 136);
}
.header-title .icons-tilte li a:hover {
	color: var(--color-hover);
}
.header-title p {
	color: var(--color-title);
	font-size: 35px;
	/* background: blue; */
	height: 200px;
	width: 90%;
	margin: auto;
	padding-top: 100px;
}

/* seccion about */
.container {
	height: auto;
	position: relative;
}
.container-about {
	width: 75%;
	height: var(--height-section);
	/* background: yellow; */
	margin: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
		".  ."
		"img descrip"
		". .";
	gap: 20px;
}
/* .container-about div{
    background: blue;
    
} */

.about-img {
	grid-area: img;
	display: flex;
	align-items: center;
}
.about-img div {
	height: 300px;
	width: 300px;
	margin: auto;
}
.about-descp {
	grid-area: descrip;
	display: flex;
	align-items: center;
}
.about-img div img {
	height: 100%;
	border-radius: 50%;
}
.about-descp p ul li {
	display: inline-block;
	/* color: red; */
}

/* proyectos */

.container-projects {
	padding: 20px 0px;
	height: calc(var(--height-section) + 200px);
}
.container-projects .cards {
	/* background: pink; */
	width: 75%;
	position: relative;
	margin: auto;
	height: 100%;
	display: grid;
	padding-bottom: 80px;
	/*grid-template-columns: repeat(3, 1fr);
	 grid-template-rows: repeat(4, 1fr);
	 grid-template-areas:
		". p2 ."
		"p1 p2 p3"
		"p1 p4 p3"
		". p4 ."; */
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"p1 p2 p3"
		"p4 p5 p6";
	gap: 20px;
}
.cards .card {
	background: var(--bacground-color-secundario);
	border-radius: 10px;
	transition: 0.5s;
	position: relative;
	box-shadow: var(--box-shadow);
}
.cards .card:hover {
	--vibility-card-body: visible;
	box-shadow: var(--box-shadow-hover);
}
.card:nth-last-of-type(1) {
	grid-area: p1;
}
.card:nth-last-of-type(2) {
	grid-area: p2;
}
.card:nth-last-of-type(3) {
	grid-area: p3;
}
.card:nth-last-of-type(4) {
	grid-area: p4;
}
.card:nth-last-of-type(5) {
	grid-area: p5;
}
.card:nth-last-of-type(6) {
	grid-area: p6;
}
.card-img {
	/* height: 200px;
	padding: 2px;
	margin: auto;
	width: 90%;
	text-align: center; */

	height: 100%;
	width: 100%;
}
.card-img img {
	border-radius: 2%;
	height: 100%;
	width: 100%;
}

.card-body {
	visibility: var(--vibility-card-body);
	/* background: rgba(20, 81, 116, 0.89); */
	opacity: 0.89;
	background: var(--bacground-color-secundario);
	height: 100%;
	width: 100%;
	color: var(--color-title);
	position: absolute;
	top: 0;
	transition: 0.5;
	z-index: 120;
	text-align: center;
	border-radius: 2%;
}
.card-title,
.card-button {
	/* color: var(--bacground_color_principal); */
	margin: 10px;
	color: black;
}
.card-text {
	padding: 25px 25px;
	color: black;
}
.card-button {
	background: var(--bacground_color_principal);
	padding: 15px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.card-button a {
	text-decoration: none;
	color: white;
	padding: 10px 25px;
}

/*  contato y footer*/

.container-contact {
	height: calc(var(--height-section) - 80px);
	background: var(--bacground_color_principal);
	display: grid;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"contact-form  contact-datos"
		"contact-footer  contact-footer";
	/* column-gap: 25px; */
}
/* .container-contact hr{
	grid-area: hr;
} */
/* .contact { */
/* margin: auto; */
/* height: calc(100% - 80px); */

/* display: grid; */
/* grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "contact-form contact-datos"; */
/* } */
.contact-form {
	display: inline-block;
	grid-area: contact-form;
	padding: 70px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-align: center;
	/* background: var(--bacground-color-secundario);
width: 400px;
height: 60%;
margin: auto; */
	/* background: yellow; */
}
.contact-form form {
	background: var(--color-title);
	padding: 20px;
	border-radius: 10px;
	transition: 0.5s;
	box-shadow: 0 5px 5px var(--color-title);
}
.contact-form form:hover {
	box-shadow: var(--box-shadow-hover);
}
.contact-form .inputs {
	display: inline-block;
	width: 500px;
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	/* background-color: var(--bacground-color-secundario); */
	/* border: none;
	color: white;
	border-bottom: 1px solid var(--bacground-color-secundario); */
}
.contact-form textarea {
	width: 500px;
	height: 100px;
	margin: 10px;
	padding: 10px;
	font-size: 15px;

	/* 
	background-color: transparent;
	color: white;
	border: 1px solid var(--bacground-color-secundario); */
}
/* .contact-form .inputs:focus {
	border: none;
} */
/* .contact-form textarea::placeholder,
.inputs::placeholder { */
/* color: var(--color-title); */
/* color: var(--bacground-color-secundario); */
/* } */
.contact-form #btn-form {
	/* width: 30%;
	margin: 10px 0px;
	padding: 10px 2px;
	position: relative;
	right: 0; */
	width: 525px;
	margin: 10px;
	padding: 15px;
	font-size: 15px;
	/* background: var(--bacground-color-secundario); */
	/* background: var(--bacground-color-secundario);
	color: var(--color-title); */
}
/* .contact-form #btn-form:hover { */
/* background: var(--color-hover); */
/* } */
.contact-datos {
	grid-area: contact-datos;
	padding: 80px;
	padding-bottom: 0px;
	text-align: left;
}
.contact-datos ul {
	border-left: 1px solid var(--bacground-color-secundario);
}

.contact-datos ul li {
	display: inline-block;
	/* width: 100%; */
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	display: inline-block;
	/* background: red; */
	color: var(--bacground-color-secundario);
	/* color: var(--color-title); */
}
.contact-datos .redes {
	list-style: none;
}
.contact-datos .redes li {
	margin: 0;
	padding: 5;
	display: block;
}
.contact-datos .redes li a {
	color: var(--bacground-color-secundario);
}
.container-contact .footer {
	padding: 15px 0px;
	background: var(--bacground_color_principal);
	text-align: center;
	grid-area: contact-footer;
}
.container-contact .footer h2 {
	/* line-height: 130px; */
	color: var(--color-title);
	/* background: var(--bacground_color_principal); */
}
